<cfset name = iif( form.keyExists("name"), de("#form.name#"), "Anonymous" )>
<cfquery>
    INSERT INTO contacts(name, message)
    VALUES (
        '#name#',
        '#form.message#'
    )
</cfquery>
