<cfquery name="story">
    SELECT * FROM news
    WHERE id = #url.id#
</cfquery>

test

<cfif story.recordcount>
    <cfoutput encodeFor="html">
        <h2>#story.headline#</h2>
        <div>#story.body#</div>
    </cfoutput>
<cfelse>
    No story found with id: <cfoutput>#url.id#</cfoutput>
</cfif>
